<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dcoupon_client_publisher_api_token</key>
	<string>YOUR_CLIENT_PUBLISHER_API_TOKEN_HERE</string>
	<key>dcoupon_client_country</key>
	<string>YOUR_CLIENT_COUNTRY_2_LETTER_CODE_HERE</string>
	<key>dcoupon_client_secret_key</key>
	<string>YOUR_CLIENT_SECRET_KEY_HERE</string>
	<key>dcoupon_client_token</key>
	<string>YOUR_CLIENT_TOKEN_HERE</string>
	<key>dcoupon_client_domain</key>
	<string>YOUR_CLIENT_DOMAIN_HERE</string>
</dict>
</plist>
